<html>

{% load static %}
<head>
		<title>For Once It's Okay to Be Fat</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    body{
      background-image: url('https://cdn.pixabay.com/photo/2013/07/18/10/56/packs-163497_960_720.jpg')
    }

    .blue-col{
      background-color: #ffe000;
      padding: 15px;
      border-radius: 2px;
      margin-bottom: 15px;
      box-shadow: 5px 5px 0px 5px #ffb000;
    }
    </style>

  </head>
	<body onload="fetch()">
    <br />
    <center>
      <div class="col-sm-4">
        <br />
      </div>
		<div class="blue-col col-sm-4">
			<h2>Your Weight in Gold</h2>
      <form>
        <div class="shadowed blue nice-box flex-rows">
          Your Weight: <input type="number" id="weight"<br>
          <button type="button" onclick="convert()" id="weighin">Convert!</button>
        </div>
        <divclass="shadowed green nice-box flex-rows">
          <p id="quandl"></p>
        </div>
     </form>
     </div>
    </div>
	   <script>

	   // Erik's API key. Get your own :P
	   var apiKey = 'A58P1ZKxo8-sFsmGYb_s';
     var theData;
     var convertData;


     function getStartDay(){
       var date = new Date(Date.now()),
          month = '' + (date.getMonth() + 1),
          day = '' + date.getDate() - 3;
          year = date.getFullYear();
          if(month.length < 2) month = '0'+month;
          if(day.length < 2) day = '0'+day;
          return [year, month, day].join('-');
     }
     function getEndDay(){
       var date = new Date(Date.now()),
          month = '' + (date.getMonth() + 1),
          day = '' + date.getDate();
          year = date.getFullYear();
          if(month.length < 2) month = '0'+month;
          if(day.length < 2) day = '0'+day;
          return [year, month, day].join('-');
     }

     var start = getStartDay();
     var end = getEndDay();



	   // global variable for 'output'

	   var fetch = function() {
			 var goldRUrl = "https://www.quandl.com/api/v3/datasets/LBMA/GOLD.json?api_key=" + apiKey + "&column_index=2&start_date=" + start + "&end_date=" + end;
		   var xhr = new XMLHttpRequest();
		   xhr.open('GET', goldRUrl);
		   xhr.responseType = 'json';
		   xhr.onload = function() {
			   theData = xhr.response;
			   console.log(theData);
			   document.title = theData.dataset.name + " from Quandl's API"
		   }
		   xhr.send();
	   }

     var convert = function() {
       var enteredWeight = +document.getElementById('weight').value;
        var unitconvURL = ('http://127.0.0.1:8000/conversionAPI/json?from=lbs&to=t_oz&value=' * enteredWeight);
		   var xhr = new XMLHttpRequest();
		   xhr.open('GET', unitconvURL);
		   xhr.responseType = 'json';
		   xhr.onload = function() {
			   convertData = xhr.response;
			   console.log(convertData);
         if('error' in convertData){
			        document.querySelector('#quandl').textContent = "Error in your Data" + convertData['error'];
        	}else{
          	var goldPrice = convertData['value'] * theData.dataset.data[0][1];
          	var convertedGold = parseFloat(goldPrice).toFixed(2);
           document.querySelector('#quandl').textContent = "Your Weight in Gold is " + convertedGold;

       	}
			};
		   xhr.send();
	   }

	   </script>

	</body>
</html>
